			html,body {
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
				border: 0;
				overflow: auto;
				background-image: url(../images/bg.jpg);
				background-size: cover;
				font-family: 'Roboto' , sans-serif;
			}
			h1{
				margin-top: 30px;
				margin-bottom: 15px;
				text-align: center;
				color: white;
				font-size: 48px;
			}
			h2{
				margin-top: 15px;
				margin-bottom: 50px;
				text-align: center;
				color: white;
				font-size: 32px;
			}
			#Main-logo{
				text-align: center;
				margin-top: 30px;
			}
			#Social-media-logo{
				text-align: center;
				margin-top: 20px;
			}
			.phone {
				color: #F4F6F7;
				font-size: 16px;
				font-weight: 900;
				text-align: center;
				margin-top: 500px;
			}
			.phone a {
				color: #F4F6F7;
				font-size: 16px;
				font-weight: 900;
				text-align: center;
				margin-top: 500px;
			}
			#wrapper{
				position: absolute;
				width: 320px;
				left: 50%;
				margin-left: -160px;
				top: 45%;
				margin-top: -75px;
			}
			#signin {
				height: 90px;
				width: 300px;
				border-radius: 8px;
				position: relative;
			}
			#signin::before {
				display: block;
				position: relative;
				height: 2px;
				background: rgb(222, 224, 227);
				content: '';
				top: 44px;
				margin-left: 20px;
				z-index: 1;
			}
			#signin input:first-of-type{
				border-top-right-radius: 8px;
				border-top-left-radius: 8px;
			}
			#signin input:last-of-type{
				border-bottom-right-radius: 8px;
				border-bottom-left-radius: 8px;
			}
			#signin  input[type="text"], #signin  input[type="password"], #signin button[type="submit"]{
				background: rgb(28, 30, 33);
				box-shadow: inset -100px -100px 0 rgb(209, 220, 222); 
				color: rgb(52, 56, 61);
			}
			#signin  input[type="text"], #signin  input[type="password"]{
				position: relative;
				display: block;
				width: 280px;
				height: 45px;
				border: 0;
				outline: 0;
				top: -2px;
				padding: 0 0 0 20px;
				font-weight: 700;
			}
			#signin  input[type="text"]:focus, #signin  input[type="password"]:focus{
				color: rgb(0, 0, 0);
			}
			#signin button[type="submit"]{
				display: block;
				position: absolute;
				width: 52px;
				height: 52px;
				color: rgb(52, 56, 61);
				border-radius: 50px;
				outline: 0;
				z-index: 2;
				top: 19px;
				right: -24px;
				border: 6px solid rgb(115, 144, 201);
				font-size: 25px;
				text-indent: 0px;
				padding-left: 9px;
				padding-bottom: 3px;
				text-align: center;
			}
			#signin button[type="submit"]:hover{
				color: rgb(0, 126, 165);
				text-shadow: 0 0 10px rgb(0, 126, 165);
				cursor: pointer;
			}
			#signin p {
				color: rgb(79, 85, 97);
				padding: 0 20px;
				font-weight: 700;
				font-size: 12px;
				margin: 5px 0 0 0;
			}
			#signin p > a{
				color: rgb(115, 144, 201);
				text-decoration: none;
			}
			#signin p > a:hover{
				border-bottom: 1px solid;
			}